<nav class="mb-1  navbar navbar-expand-lg navbar-dark bg-primary">
  <!-- <div class="col-md-12"> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
    aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-333">


    <!-- Links -->
    <ul class="navbar-nav  mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#"> Tasks</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Calendar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Campaigns</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Drafts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Ideation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Stories</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Media</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Analy</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Talent</a>
      </li>
    
      <li class="nav-item">
        <a class="nav-link" href="#">Portfolio</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto nav-flex-icons ">
      <li class="nav-item">
        <a class="nav-link waves-effect waves-light">
          <i class="fa  fa-search"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-effect waves-light">
          <i class="fa fa-plus "></i>
        </a>
      </li>
       
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-default"
          aria-labelledby="navbarDropdownMenuLink-333">
          <a class="dropdown-item" href="home/account">Your Account</a>
          <a class="dropdown-item" href="#">Help Center</a>
          <a class="dropdown-item" href="">  Sign Out</a>
        </div>
      </li>
    </ul>
  </div>

    <!-- <input class="form-control mr-sm-2" type="text" placeholder="Search">
    <button class="btn btn-success" type="submit">Search</button> -->
    
  </nav>
<div>
  <router-outlet></router-outlet>
</div>

  
  
