.pull-right{
    float: right !important;
    margin-right:17%  !important;
    width: 80px;
    margin-top: 5px;
}

hr {
    clear: both;
    position: relative;
         border-bottom: 1px solid #d4d4d4;
}