<div class="">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <div class="row">
        <h1 style="font-size: xxx-large;color:orange">Update Password</h1><br/>
        <div class="col-md-10 form-group">
            <label >Current Password *</label>
            <input type="password"  class="form-control" formControlName="oldpass">
            <span *ngIf="form.controls['oldpass'].touched && form.controls['oldpass'].invalid" class="text-danger">
                <span *ngIf="form.controls['oldpass'].errors?.required">Old Password is required.</span>
            </span>
                <hr>
        </div>
        
   

    <div class="col-md-10 form-group">
        <label>New Password *</label>
        <input type="password" class="form-control" formControlName="newPassword"> 
        
    <span *ngIf="form.controls['newPassword'].touched && form.controls['newPassword'].invalid" class="text-danger">
        <span *ngIf="form.controls['newPassword'].errors?.required">Enter new Password.</span>
    </span>
    </div>
    
    <div >
        <label for=""> Password requirements:</label>
       <ul>
  
        <li>8 or more characters</li>
        <li>At least one number and one letter</li>
        <li>A mix of uppercase and lowercase letters</li>
        <li>Does not contain your username</li>
        <li>Does not contain 3 or more identical characters Ex. aaa or 111</li>
        <li>Does not contain 3 or more consecutive characters Ex. abc or 123</li>
        <li>Must contain one special characters such as </li>
       </ul>
    </div>

    
     
        <div class="col-md-10 form-group">
            <label>Confirm Password *</label>
            <input type="password" formControlName="confirmPass" class="form-control">
            
        <span *ngIf="form.controls['confirmPass'].touched && form.controls['confirmPass'].invalid" class="text-danger">
            <span *ngIf="form.controls['confirmPass'].errors?.required">Password is required.</span>
            <span *ngIf="form.controls['confirmPass'].errors?.confirmedValidator">Password and Confirm Password must be match.</span>
          </span>
        </div>
     

    </div>
    <div class="btn-group pull-right">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>

</div>